

.header__style{
    display: flex;
    justify-content: space-between;
    
}

.header__input{
    display : flex;
    margin: 20px;
    width: 500px;
    height: 30px;
    
}

.header__image{
    display : flex;
    height: 50px;

}

.register__btn{
    display:flex;
    align-content:center;
}